.field-group {
  display: flex;
  flex-direction: column;
}

.field-group + .field-group {
  margin-top: 1em;
}

@media  (min-width: 500px) {
  .field-group {
    flex-direction: row;
  }

  .field-group > .field {
    flex: 1;
  }

  .field-group .field+.field {
    margin-top: 0;
    margin-left: 1em;
  }
}